@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.94rem;
}

.container {
    width: 95%;
    max-width: 1200px;
    padding: 2em 1.5em;
    margin: 0 auto;
}

.nav-logo {
    width: 50px;
}

.navbar,
.flex-main {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: flex-start;
}

.navbar ul {
    background: hsl(36, 100%, 99%);
    position: fixed;
    top: -15px;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding: 1.5em 2em;
    color: #fff;
    transition: left 0.5s;
}

.close {
    position: absolute;
    top: 1em;
    right: 2.5em;
    width: 25px;
}

.flex-main {
    flex-direction: column;
}

.bg-left {
    background-image: url(images/image-web-3-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 56vh;
    padding: 1em 0em;
}

.right-col {
    background-color: hsl(240, 100%, 5%);
    padding: 1em;
    color: #fff;
    margin-top: 5.5em;
}

.right-txt {
    margin-bottom: 2em;
}

.line {
    border-bottom: 1px solid hsl(236, 13%, 42%);
    margin-top: 3em;
}

.section {
    display: grid;
}

.sec {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 2em;
    gap: 15px;
}

.sec img {
    width: 150px;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}


/* Typography */
ul li {
    list-style: none;
    margin-top: 1em;
    padding-top: 1.3em;   
}

.nav_link {
    text-decoration: none;
    font-weight: 700;
}

.big-txt {
    color:  hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 2rem;
    padding-right: 3em;
}

.nav_link,
.small_txt,
.sec p{
    color: hsl(236, 13%, 42%);
    opacity: 0.8;
}

.small_txt {
    line-height: 1.5;
    padding-right: 0em;
}

.btn {
    border: none;
    color: #fff;
    padding: 1em 2.5em;
    text-transform: uppercase;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1em;
}

.btn:hover,
.btn:focus {
    background-color: hsl(240, 100%, 5%);
}

.lightorange-txt {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    font-weight: 700;
}

.small-light-txt {
    color: hsl(36, 100%, 99%);
    opacity: .7;
    line-height: 2;
}

.sec h1 {
    font-size: 2.5rem;
    color: hsl(236, 13%, 42%);
    opacity: 0.5;
    margin-bottom: -10px;
    margin-top: 10px;
}

.sec h2 {
    color: hsl(240, 100%, 5%);
    font-size: 1.2rem;
}

.sec p {
    line-height: 1.5;
}


@media (min-width: 800px) {
  .close,
  .open {
    display: none;
  }

  .navbar ul {
    position: relative;
    left: -9em;
    top: -2em;
    background: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .nav_link {
    margin-left: 2.5em;
  }

  .flex-main {
    flex-direction: row;
    align-items: center;
    margin-top: -41em;
    gap: 20px;
    flex-wrap: wrap;
  }

  .bg-left {
    background-image: url(images/image-web-3-desktop.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 7.5em;
  }

  .left-col {
    flex-basis: 60%;
    flex-grow: 1;
  }

  .right-col {
    flex-basis: 30%;
    flex-grow: 1;
    margin-top: 3em;
  }

  .left-txt {
    display: flex;
    align-items: flex-end;
  }

  .big-txt {
    font-size: 3.5rem;
    padding: 0;
  }

  .small_txt {
    word-spacing: 2px;
    width: 350px;
    margin-bottom: 3em;
  }

  .p_btn {
    margin-bottom: 3em;
  }

  .line {
    margin-top: 1em;
  }

  .section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}